<a href="https://colab.research.google.com/github/Ankit0272/Ankit0272/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
b= "sultan"
a=input("enter your password here ")
while a != b:
  print("you entred a wrong password ")
  a=input("enter your password h")

print("booyah, you have the access")

enter your password here dhsahdh
you entred a wrong password
enter your password dhsahhas]
you entred a wrong password
enter your password jssdjs
you entred a wrong password
enter your password hhh
you entred a wrong password
enter your password hdhf
you entred a wrong password
enter your password hdfh
you entred a wrong password
enter your password sultan
booyah, you have the access

In [ ]:
timer=int(input("enter timer"))
while timer >= 0:
  print(timer)
  timer -=1
print("timer is over")

enter timer3
3
2
1
0
timer is over

In [ ]:
integer= [1,2,2,4,2,6,7,8,4,6,8,4,3,2,4,6,8,7,5]
print(type(integer))
print("numbers ", integer)

print("length of the integer list", len(integer))
print(integer[5])
print(integer[0])
print(integer[8])
print(integer[1])
print(integer[7])
print(integer[11])

#seeing the isting method to creaate backup listing metod
print(integer[-1])
print(integer[-9])
print(integer[-3])
print(integer[0])
print(integer[5])

#slicing indexing
print(integer[0:10])
print(integer[9:11])
print(integer[:19])
print(integer[17:])
print(integer[0:])
print(integer[1::9])
print(integer[1::3])

<class 'list'>
numbers  [1, 2, 2, 4, 2, 6, 7, 8, 4, 6, 8, 4, 3, 2, 4, 6, 8, 7, 5]
length of the integer list 19
6
1
4
2
8
4
5
8
8
1
6
[1, 2, 2, 4, 2, 6, 7, 8, 4, 6]
[6, 8]
[1, 2, 2, 4, 2, 6, 7, 8, 4, 6, 8, 4, 3, 2, 4, 6, 8, 7, 5]
[7, 5]
[1, 2, 2, 4, 2, 6, 7, 8, 4, 6, 8, 4, 3, 2, 4, 6, 8, 7, 5]
[2, 8]
[2, 2, 8, 8, 2, 8]

In [ ]:
integer= [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(len(integer))
print(type(integer))
print(integer[0])
print(integer[20])
print(integer[-1])
print(integer[3:10])
print(integer[7:19])
print(integer[::1])
print(integer[::2])
print(integer[::3])
print(integer[::4])
print(integer[1::2])

21
<class 'list'>
0
20
20
[3, 4, 5, 6, 7, 8, 9]
[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[0, 3, 6, 9, 12, 15, 18]
[0, 4, 8, 12, 16, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
fruit= ["apple","banana","grapes"]
fruit.insert(1, "guava")

In [ ]:
fruit= ["apple","banana","grapes"]
a= fruit.index("grapes")
print(a)

2

In [ ]:
fruit=["apple","banana","grapes"]
copy_list= fruit.copy()
print(copy_list)

fruit.append("guava")
print(fruit)

copy_list.append("orange")
print(copy_list)

fruit.insert(0,"pineapple")
print(fruit)

copy=fruit.copy()
print(copy)

copy.insert(1,"kiwi")
print(copy)

last_fruit=copy.pop()
print(last_fruit)

print(copy[0])
print(copy[-1])
print(copy[-4])
print(type(copy))
print(len(copy))
print("apple" in copy)
print(copy[1:4])
print(copy[::1])

banana=copy.index("banana")
print(banana)

pear=copy.insert(4,"pear")
print(copy)

remove_pear=copy.remove("pear")
print(copy)


grapes=copy.index("grapes")
print(grapes)

count=copy.count("kiwi")
print(count)

sort=copy.sort()
print(sort)

reverse=copy.reverse()
print(reverse)

print(copy)

counting=[1,2,3,4,5,6,7,8,9,10]
counting.append(11)
print(counting)

['apple', 'banana', 'grapes']
['apple', 'banana', 'grapes', 'guava']
['apple', 'banana', 'grapes', 'orange']
['pineapple', 'apple', 'banana', 'grapes', 'guava']
['pineapple', 'apple', 'banana', 'grapes', 'guava']
['pineapple', 'kiwi', 'apple', 'banana', 'grapes', 'guava']
guava
pineapple
grapes
kiwi
<class 'list'>
5
True
['kiwi', 'apple', 'banana']
['pineapple', 'kiwi', 'apple', 'banana', 'grapes']
3
['pineapple', 'kiwi', 'apple', 'banana', 'pear', 'grapes']
['pineapple', 'kiwi', 'apple', 'banana', 'grapes']
4
1
None
None
['pineapple', 'kiwi', 'grapes', 'banana', 'apple']
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
counting=[0,1,2,3,4,5,6,7,8,9,10]
for nos in counting:
  print(nos)
  if nos == 9:
    break
print("loop is over")

0
1
2
3
4
5
6
7
8
9
loop is over

In [ ]:
total=0
for nos in range(1, 101):
  if nos % 2 == 0:
    total += nos


print("sum of all even numbers till", total)

sum of all even numbers till 2550

In [ ]:

number=int(input("enter your no here "))

print("multiplication table for", number)
for i in range (1,11):
   print(number, "x", i, "=", number*i)

enter your no here 78
multiplication table for 78
78 x 1 = 78
78 x 2 = 156
78 x 3 = 234
78 x 4 = 312
78 x 5 = 390
78 x 6 = 468
78 x 7 = 546
78 x 8 = 624
78 x 9 = 702
78 x 10 = 780

In [ ]:
total = 0

for number in range(1, 201):
    if number % 2 == 0:
        total += number

print("The sum of even numbers between 1 and 200 is:", total)

The sum of even numbers between 1 and 200 is: 10100

In [ ]:
number=int(input("enter the number of which you want the table for "))
print("here is the table of ", number)
i=1
while i <= 10 :
  print(number*i)
  i += 1

enter the number of which you want the table for 16
here is the table of  16
16
32
48
64
80
96
112
128
144
160
here is the table of

In [ ]:
l=[1,4,9,16,25,36,49,64,81,100]
length_of_loop=len(l)
print(length_of_loop)
i=0
while i < (len(l)):
   print(l[i])
   i += 1
print("loop is over")

10
1
4
9
16
25
36
49
64
81
100
loop is over

In [ ]:
l= [1,4,9,16,25,36,49,64,81,100, 64, 9,16,36,49,100,49]
x=int(input("enter the no you want to find in the list "))
i=0
while i < (len(l)):
  if (l[i] == x):
    print(("found at ind", i))
    break
  else:
      print("finding")
  i += 1

enter the no you want to find in the list 49
finding
finding
finding
finding
finding
finding
('found at ind', 6)

In [ ]:
n=int(input("enter the numbers of which you wnat the sum for "))

sum=0
if i in range(1,n+1):
  sum += i

print("sum of", n, "natural numbers = ", sum)

enter the numbers of which you wnat the sum for 10
sum of 10 natural numbers =  0

In [ ]:
no1= int(input("enter the numbers of which you want the average for "))
no2= int(input("enter the numbers of which you want the average for "))
no_str = input()
divisor=int(no_str)
l=[int(x.strip()) for x in no_str.split(',')]
print(no1+no2/divisor)

enter the numbers of which you want the average for 7654
enter the numbers of which you want the average for 74765
9
15961.222222222223

In [ ]:
# no1=float(input("enter your 1st no here "))
# no2=float(input("enter your 2nd no here "))

# sum= no1+no2
# print("the sum of numbers you entered is ", sum)

# a=float(input("enter the sid eof your square "))
# square= a**2ll
# print("the area of your square is ", square)

# a=float(input("enter your 1st no "))
# b=float(input("enter your 2nd no "))

# avg= (a+b)/2

# print("here is the avg of the numbers you enterd ", avg)

a=float(input("enter your 1st no "))
b=float(input("enter your 2nd no "))

if a >= b:
   print("true")
else:
  print("false")

enter your 1st no 6346
enter your 2nd no 636
true

In [ ]:
a=input("enter your name ")
print(len(a))
print(a.count("i"))

enter your name Ankit Raj Singh
15
2

In [ ]:
a=int(input("enter your marks "))
if a >= 90:
  print("Grade A")
elif a >= 80:
  print("Grade B")
elif a >= 70:
  print("Grade c")
elif a >= 60:
  print("Grade D")
else:
  print("padhna bekar hai tera ")

enter your marks 99
Grade A

In [ ]:
a=int(input("enter the no: "))
if (a % 2) == 0:
    print("even no")
else:
  print("odd no")

enter the no: 40
even no

In [ ]:
a=int(input("enter the no: "))
if (a%7) == 0:
  print("it is a multiple of 7")
else:
  print("it is not a multiple of 7")

enter the no: 150
it is not a multiple of 7

In [ ]:
a= int(input("enter the no: "))
b=int(input("enter the no: "))
c=int(input("enter the no: "))

if a > b and a > c:
   print(a,"is the greatest")
elif b > a and b > c:
   print(b, "is the greatest")
else:
  print(c, "is the greatest")

enter the no: 87
enter the no: 4770
enter the no: 897644
897644 is the greatest

In [ ]:
# a= input("enter the name of your favorite movie ")
# b= input("enter the name of your favorite movie ")
# c=input("enter the name of your favorite movie ")

list=[1,2,3]
# list.append(a)
# list.append(b)
# list.append(c)

print(list)

list.reverse()
print(list)
print(list.reverse())
a=list
print(a)

[1, 2, 3]
[3, 2, 1]
None
[1, 2, 3]

In [ ]:
a=[1,2,3,2,1]
a.copy()

print(a)
if a == list:
  print(a, "is the palandrome sequence")
else:
  print(a, "is not a palandrome sequence")

[1, 2, 3, 2, 1]
[1, 2, 3, 2, 1] is not a palandrome sequence

In [ ]:
a=input("enter the name of your favorite movie ")
b=input("enter the name of your favorite movie ")
c=input("enter the name of your favorite movie ")

list=[a,b,c]
print(list)

p_list=[]
p_list.append(a)
p_list.append(b)
p_list.append(c)
print(p_list)

enter the name of your favorite movie batman
enter the name of your favorite movie tangled
enter the name of your favorite movie kf2
['batman', 'tangled', 'kf2']
['batman', 'tangled', 'kf2']

In [ ]:
list=[1,2,3,2,1]
copy_list= list.copy()
copy_list.reverse()

if list == copy_list:
  print(list,"is a palandrome")
else:
  print(list, "is not a palandrome")

[1, 2, 3, 2, 1] is a palandrome

In [ ]:
a=["C","D","A","A","B","B","A"]
a.count("A")
a.sort()

print(a)

['A', 'A', 'A', 'B', 'B', 'C', 'D']

In [ ]:
dic={
    "table" : ["a piece of furniture","list of facts & figures"],
    "cat": "a small animal"

}
print(dic)

{'table': ['a piece of furniture', 'list of facts & figures'], 'cat': 'a small animal'}

In [ ]:
class_needed={"python","c++","java","python","c++", "javascript","c",}
len(class_needed)

5

In [ ]:
# a=int(input("enter the number of which you want the table for "))

# i=a
# while i <= a*10:
#   print(i)
#   i += a

# i= 1
# while i <= 10:
#   print(a*i)
#   i += 1

# i= 1

# while i <= 10:
#   print (i*i)
#   i += 1

# numbers=[1,4,9,16,25,36,49,64,81,100]
# idx=0
# while idx < len(numbers):
#   print(numbers[idx])
#   idx += 1
# print("loop is over")

nums=[1,4,9,16,25,36,49,64,81 ,100]

x=int(input("enter the number you want to find from the list "))

i=0
while i < len(nums):
    if (nums[i] == x):
      jjjj print("found at ind", i)
    i += 1

enter the number you want to find from the list 1
found at ind 0