<a href="https://colab.research.google.com/github/Ankit0272/Ankit0272/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
b= "sultan"
a=input("enter your password here ")
while a != b:
  print("you entred a wrong password ")
  a=input("enter your password h")

print("booyah, you have the access")

enter your password here dhsahdh
you entred a wrong password
enter your password dhsahhas]
you entred a wrong password
enter your password jssdjs
you entred a wrong password
enter your password hhh
you entred a wrong password
enter your password hdhf
you entred a wrong password
enter your password hdfh
you entred a wrong password
enter your password sultan
booyah, you have the access

In [ ]:
timer=int(input("enter timer"))
while timer >= 0:
  print(timer)
  timer -=1
print("timer is over")

enter timer3
3
2
1
0
timer is over

In [ ]:
integer= [1,2,2,4,2,6,7,8,4,6,8,4,3,2,4,6,8,7,5]
print(type(integer))
print("numbers ", integer)

print("length of the integer list", len(integer))
print(integer[5])
print(integer[0])
print(integer[8])
print(integer[1])
print(integer[7])
print(integer[11])

#seeing the isting method to creaate backup listing metod
print(integer[-1])
print(integer[-9])
print(integer[-3])
print(integer[0])
print(integer[5])

#slicing indexing
print(integer[0:10])
print(integer[9:11])
print(integer[:19])
print(integer[17:])
print(integer[0:])
print(integer[1::9])
print(integer[1::3])

<class 'list'>
numbers  [1, 2, 2, 4, 2, 6, 7, 8, 4, 6, 8, 4, 3, 2, 4, 6, 8, 7, 5]
length of the integer list 19
6
1
4
2
8
4
5
8
8
1
6
[1, 2, 2, 4, 2, 6, 7, 8, 4, 6]
[6, 8]
[1, 2, 2, 4, 2, 6, 7, 8, 4, 6, 8, 4, 3, 2, 4, 6, 8, 7, 5]
[7, 5]
[1, 2, 2, 4, 2, 6, 7, 8, 4, 6, 8, 4, 3, 2, 4, 6, 8, 7, 5]
[2, 8]
[2, 2, 8, 8, 2, 8]

In [ ]:
integer= [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(len(integer))
print(type(integer))
print(integer[0])
print(integer[20])
print(integer[-1])
print(integer[3:10])
print(integer[7:19])
print(integer[::1])
print(integer[::2])
print(integer[::3])
print(integer[::4])
print(integer[1::2])

21
<class 'list'>
0
20
20
[3, 4, 5, 6, 7, 8, 9]
[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[0, 3, 6, 9, 12, 15, 18]
[0, 4, 8, 12, 16, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
fruit= ["apple","banana","grapes"]
fruit.insert(1, "guava")

In [ ]:
fruit= ["apple","banana","grapes"]
a= fruit.index("grapes")
print(a)

2

In [ ]:
fruit=["apple","banana","grapes"]
copy_list= fruit.copy()
print(copy_list)

fruit.append("guava")
print(fruit)

copy_list.append("orange")
print(copy_list)

fruit.insert(0,"pineapple")
print(fruit)

copy=fruit.copy()
print(copy)

copy.insert(1,"kiwi")
print(copy)

last_fruit=copy.pop()
print(last_fruit)

print(copy[0])
print(copy[-1])
print(copy[-4])
print(type(copy))
print(len(copy))
print("apple" in copy)
print(copy[1:4])
print(copy[::1])

banana=copy.index("banana")
print(banana)

pear=copy.insert(4,"pear")
print(copy)

remove_pear=copy.remove("pear")
print(copy)


grapes=copy.index("grapes")
print(grapes)

count=copy.count("kiwi")
print(count)

sort=copy.sort()
print(sort)

reverse=copy.reverse()
print(reverse)

print(copy)

counting=[1,2,3,4,5,6,7,8,9,10]
counting.append(11)
print(counting)

['apple', 'banana', 'grapes']
['apple', 'banana', 'grapes', 'guava']
['apple', 'banana', 'grapes', 'orange']
['pineapple', 'apple', 'banana', 'grapes', 'guava']
['pineapple', 'apple', 'banana', 'grapes', 'guava']
['pineapple', 'kiwi', 'apple', 'banana', 'grapes', 'guava']
guava
pineapple
grapes
kiwi
<class 'list'>
5
True
['kiwi', 'apple', 'banana']
['pineapple', 'kiwi', 'apple', 'banana', 'grapes']
3
['pineapple', 'kiwi', 'apple', 'banana', 'pear', 'grapes']
['pineapple', 'kiwi', 'apple', 'banana', 'grapes']
4
1
None
None
['pineapple', 'kiwi', 'grapes', 'banana', 'apple']
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
counting=[0,1,2,3,4,5,6,7,8,9,10]
for nos in counting:
  print(nos)
  if nos == 9:
    break
print("loop is over")

0
1
2
3
4
5
6
7
8
9
loop is over

In [ ]:
total=0
for nos in range(1, 101):
  if nos % 2 == 0:
    total += nos


print("sum of all even numbers till", total)

sum of all even numbers till 2550

In [ ]:

number=int(input("enter your no here "))

print("multiplication table for", number)
for i in range (1,11):
   print(number, "x", i, "=", number*i)

enter your no here 78
multiplication table for 78
78 x 1 = 78
78 x 2 = 156
78 x 3 = 234
78 x 4 = 312
78 x 5 = 390
78 x 6 = 468
78 x 7 = 546
78 x 8 = 624
78 x 9 = 702
78 x 10 = 780

In [ ]:
total = 0

for number in range(1, 201):
    if number % 2 == 0:
        total += number

print("The sum of even numbers between 1 and 200 is:", total)

The sum of even numbers between 1 and 200 is: 10100